<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Monitoring Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js'  %}"></script>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Home</a>
          <a class="navbar-brand" href="{% url 'admin:index' %}">Admin</a>
          {% if user.is_authenticated %}
          <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="navbar-brand" href="{% url 'RDApp:MonitorHome' %}">Login</a>
          {% endif %}
    </nav>

    <!-- <br> -->

    <div class="jumbotron">
      <h2>Please choose the query date below:</h2>
      <h4>** The shown results will be recons that are executed after the below specfied date up until now **</h4>
      <br>

      <form action="{% url 'RDApp:MonitorQueryResult' %}" method="post">
        {% csrf_token %}
        <!-- <label for="query_recon_date">Date:</label> -->
        <table>
          {{query_date_form.as_table}}
        </table>
        <input class="btn btn-primary" type="submit" name="" value="Results">
      </form>

    </div>

    <br>

    <div class="jumbotron">
      <h2>Please choose a user below:</h2>
      <h4>** The shown results will be recons that are executed by the specified user **</h4>
      <br>

      <form action="{% url 'RDApp:MonitorQueryResultUser' %}" method="post">
        {% csrf_token %}
        <!-- <label for="query_recon_date">Date:</label> -->
        <table>
            {{query_user_form.as_table}}
        </table>
        <input class="btn btn-primary" type="submit" name="" value="Results">
      </form>

    </div>

    <!-- <br> -->

    <div class="jumbotron">
      <h2>Please choose a date period:</h2>
      <h4>** The shown results will be recons that are executed during the specified time period **</h4>
      <br>

      <form action="{% url 'RDApp:MonitorQueryResultTimePeriod' %}" method="post">
        {% csrf_token %}
        <!-- <label for="query_recon_date">Date:</label> -->
        <table>
          {{query_timeperiod_form.as_table}}
        </table>
        <input class="btn btn-primary" type="submit" name="" value="Results">
      </form>

    </div>

    <div class="jumbotron">
      <h2>Please choose a recon type:</h2>
      <h4>** The shown results based on the chosen recon type **</h4>
      <br>

      <form action="{% url 'RDApp:MonitorQueryResultRecType' %}" method="post">
        {% csrf_token %}
        <!-- <label for="query_recon_date">Date:</label> -->
        <table>
          {{query_rec_type_form.as_table}}
        </table>
        <input class="btn btn-primary" type="submit" name="" value="Results">
      </form>

    </div>

  </body>
</html>
