<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recon Table Updated</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js'  %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Home</a>
          <a class="navbar-brand" href="{% url 'admin:index' %}">Admin</a>
          {% if user.is_authenticated %}
          <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="navbar-brand" href="{% url 'RDApp:UpdateHome' %}">Login</a>
          {% endif %}
          <a class="navbar-brand" href="{% url 'RDApp:RecUpdated' %}">Recon Update</a>
    </nav>

    <div class="jumbotron" align="left">

      {% if Updated %}
        <h1>Thanks for updating the info</h1>
        <h2>Have a nice day</h2>
      {% else %}
        <!-- <h1>Register Here</h1> -->
        <h2>Please fill the form below:</h2>
        <br>
        <form method="POST">
          {% csrf_token %}
          <!-- {{rec_update_form.as_p}} -->

          <div class="fieldWrapper">
            <label for="ReconTitle" style="width:100%">Recon Title</label>
            <br>
            {{ rec_update_form.ReconTitle }}
          </div>

          <div class="fieldWrapper">
            <label for="ReconTotalCount" style="width:100%">Recon Total Count</label>
            {{ rec_update_form.ReconTotalCount }}
          </div>

          <div class="fieldWrapper">
            <label for="ReconExecutedCount" style="width:100%">Recon Executed Count</label>
            {{ rec_update_form.ReconExecutedCount }}
          </div>

          <div class="fieldWrapper">
            <label for="ReconComments" style="width:100%">Recon Comments</label>
            <p>{{ rec_update_form.ReconComments }}</p>
          </div>

          <br>

          <input class="btn btn-primary" type="submit" name="" value="Update">

        </form>

      {% endif %}

    </div>

  </body>
</html>
